{% extends "trainer/header.html" %}
{% load static %}
{% block title %}Offer Letter - Gym{% endblock %}
{% block head %}

<style>
  body {
    background: url("{% static 'img/hero/hero-1.jpg' %}");
  }

  .form-control:focus {
    box-shadow: none;
    border-color: #BA68C8
  }

  .profile-button {
    background: rgb(99, 39, 120);
    box-shadow: none;
    border: none
  }

  .profile-button:hover {
    background: #682773
  }

  .profile-button:focus {
    background: #682773;
    box-shadow: none
  }

  .profile-button:active {
    background: #682773;
    box-shadow: none
  }

  .back:hover {
    color: #682773;
    cursor: pointer
  }

  .labels {
    font-size: 11px
  }

  .add-experience:hover {
    background: #BA68C8;
    color: #fff;
    cursor: pointer;
    border: solid 1px #BA68C8
  }
</style>

{% endblock %}
{% block content %}
<br>
<br>
<br>
<br>
<div class="container rounded bg-white mt-5 mb-5 ">
  <div class="row">
    <div class="col-md-3 border-right">
      <div class="d-flex flex-column align-items-center text-center p-3 py-5">
        <img class="rounded-circle mt-5" width="150px" src="https://st3.depositphotos.com/15648834/17930/v/600/depositphotos_179308454-stock-illustration-unknown-person-silhouette-glasses-profile.jpg">
        <span class="font-weight-bold">{{ jb.employe.name }}</span>
        <span class="text-black-50">{{ jb.employe.gmail }}</span>
      </div>
    </div>
    <div class="col-md-5 border-right">
      <div class="p-3 py-5">
        <div class="d-flex justify-content-between align-items-center mb-3">
          <h4 class="text-right">Offer Letter</h4>
        </div>
        <p>Gym Name: {{ jb.employer.gym_name }}</p>
        <p>Location: {{ jb.employer.place }}</p>
        <p>Owner: {{ jb.employer.owner_name }}</p>
        <p>No. of Instructors: {{ jb.employer.no_of_instructors }}</p>
        <!-- You can add more details here as per your requirement -->
      </div>
    </div>
    <div class="col-md-4">
      <div class="p-3 py-5">
        <p>Job Details:</p>
        <p>Salary: RS.{{ jb.salary }}</p>
        <!-- Add more job details here if needed -->
        <div class="text-center">
          <a href="{% url 'instructor:offer1' jb.id %}" onclick="fun()" class="btn btn-success">Accept</a>
          <a href="{% url 'instructor:offer2' jb.id %}" class="btn btn-danger">Reject</a>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
</div>
<script>
    function fun()
    {
        if(confirm("Are you sure want to quit  and continue with this gym?"))
        {
            return true
        }
        else
        {
            return false
        }
    }
</script>
{% endblock %}
