{% extends "admin/header.html" %}
{% load static %}
{% block title %}Home - My Site{% endblock %}

{% block content %}
<body background="{% static 'img\hero\hero-1.jpg' %}" style="background-color:#4346d7a2;color: rgb(255, 255, 255); ">
<div>
   <br>
   <br>
   <br><br>
   <br>
   <br>
   <br>
<center>
   <h1 style="color: aliceblue;">VIEW MEMBERS</h1>
   <BR>
      <BR>
         <div class="row">
<div class="col-1">

</div>
<div class="col-10">
   <table class="table table-bordered bg-secondary " >
      <thead>
        <tr>
          <th scope="col" class="col-lg-2"> ID</th>
          <th scope="col" class="col-lg-3"> Name</th>
          <th scope="col" class="col-lg-2">gender</th>
          <th scope="col" class="col-lg-1">age</th>
          <th scope="col" class="col-lg-1">status</th>
        </tr>
      </thead>
      <tbody>
         {% for i in data %}
        <tr>
          
         
          <td>{{ i.gmail }}	</td>
       
       
          <td>{{ i.name }}	</td>
  <td>
   {{ i.gender }}	
  </td>
  <td>
   {{ i.age }}	
  </td>


          <td>
          
            {% if i.status %}
            <form action="{% url 'Admin:view_user'  %}" method="post">
               <input type="text" style="display: none;" name="block" value="{{ i.gmail }}">
               <button type="submit" class="btn btn-danger">Block</button>
            </form>
            {% else %}
            <form action="{% url 'Admin:view_user'  %}" method="post">
               <input type="text" style="display: none;" name="unblock" value="{{ i.gmail }}">
               <button type="submit" name="success" class="btn btn-success">UnBlock</button>
            </form>
            {% endif %}
          </td>
          
        </tr>

{% endfor %}
      </tbody>
    </table>
</div>
<div class="col-1">

</div>
            
         </div>
  
</center>
</center>
</div>

</body>


{% endblock %}