{% extends "index.html" %}
{% load static %}


{% block content %}
<style>
body {


background-color: black;

}



</style>


<div>
   <br>
   <br>
   <br>
   <br>


<center>

    <!-- ChoseUs Section Begin -->
    <section class="choseus-section spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="section-title">
                        <h2>{{ name }} GYM</h2><BR>
                            <BR><BR><BR>
                        <span>Why chose us?</span>
                        <h2>PUSH YOUR LIMITS FORWARD</h2>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-3 col-sm-6">
                    <div class="cs-item">
                        <span class="flaticon-034-stationary-bike"></span>
                        <h4>Modern equipment</h4>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                            dolore facilisis.</p>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6">
                    <div class="cs-item">
                        <span class="flaticon-033-juice"></span>
                        <h4>Healthy nutrition plan</h4>
                        <p>Quis ipsum suspendisse ultrices gravida. Risus commodo viverra maecenas accumsan lacus vel
                            facilisis.</p>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6">
                    <div class="cs-item">
                        <span class="flaticon-002-dumbell"></span>
                        <h4>Proffesponal training plan</h4>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                            dolore facilisis.</p>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6">
                    <div class="cs-item">
                        <span class="flaticon-014-heart-beat"></span>
                        <h4>Unique to your needs</h4>
                        <p>Quis ipsum suspendisse ultrices gravida. Risus commodo viverra maecenas accumsan lacus vel
                            facilisis.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- ChoseUs Section End -->

<!--eQUPMENTS  Section START -->

    <section class="pricing-section spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="section-title">
                        <span>Equipments Avalible in our Gym</span>
                    </div>
                </div>
            </div>
            <div class="row justify-content-center" style="color: black;">
                {% for i in equ %}
                <div class="col-lg-4 col-md-8">
                    <div class="ps-item" style="background-image: url('{{ i.Image.url }}');">
                        <h3 style="color: black; font-weight: bold;">{{ i.Name }}</h3> <!-- Set text color to black and make it bold -->
                        <div class="pi-price">
                        </div>
                       
                        <ul>
                            <li style="color: black; font-weight: bold;">{{ i.Description }}</li> <!-- Set text color to black and make it bold -->
                            <li style="color: black; font-weight: bold;">Free riding</li> <!-- Set text color to black and make it bold -->
                            <li style="color: black; font-weight: bold;">No time restriction</li> <!-- Set text color to black and make it bold -->
                        </ul>
                        <a href="#" class="thumb-icon"><i class="fa fa-picture-o"></i></a>
                    </div>
                </div>
                {% endfor %}
            </div>
            
        </div>
    </section>


    <section class="pricing-section spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="section-title">
                        <span>Our Plans</span>
                        <h2>Choose your pricing plan</h2>
                    </div>
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="col-lg-4 col-md-8">
                    <div class="ps-item">
                        <h3>One Month Plan</h3>
                        <div class="pi-price">
                            <h2>{{ rate }}</h2>
                            <span>SINGLE CLASS</span>
                        </div>
                        <ul>
                            <li>Free riding</li>
                            <li>Unlimited equipments</li>
                            <li>Personal trainer</li>
                            <li>Weight losing classes</li>
                            <li>Month to mouth</li>
                        </ul>
                        <form action="{% url 'Guest:login' %}" >
                            <button type="submit" class="primary-btn pricing-btn">Enroll now</button>
                        </form>
                        
                        <a href="#" class="thumb-icon"><i class="fa fa-picture-o"></i></a>
                    </div>
                </div>
                <div class="col-lg-4 col-md-8">
                    <div class="ps-item">
                        <h3>12 Month unlimited</h3>
                        <div class="pi-price">
                            <h2>{{ rate1 }}</h2>
                            <span>Permanent Slot</span>
                        </div>
                        <ul>
                            <li>Free riding</li>
                            <li>Unlimited equipments</li>
                            <li>Personal trainer</li>
                            <li>Weight losing classes</li>
                            <li>Month to mouth</li>
                        </ul>
                        <form action="{% url 'Guest:login' %}" >
                            <button type="submit"  class="primary-btn pricing-btn">Enroll now</button>
                        </form>
                        <a href="#" class="thumb-icon"><i class="fa fa-picture-o"></i></a>
                    </div>
                </div>
            
            </div>
        </div>
    </section>



<div class="pricing-section spad">
    <div class="row">
        <div class="col-lg-12">
            <div class="section-title">
                <span>Our Slots and Timing</span>
            </div>
        </div>
    </div>
    <div class="col-lg-9 col-md-8">

        <table class="table table-hover table-dark">
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">Start Time</th>
                <th scope="col">End Time</th>
                <th scope="col">Instructor Incharge</th>
                <th scope="col">Sub Instructor Incharge</th>
                <th scope="col">Seats Avalible</th>
              </tr>
            </thead>
            <tbody>
                {% for i in slot %}
              <tr>
                <th scope="row">{{ i.slotid }}</th>
                <td>{{ i.startTime }}</td>
                <td>{{ i.endTime }}</td>
                <td>{{ i.instructor.name }}</td>
                <td>{{ i.Substitution.name }}</td>
                <td>{{ i.seats }}</td>
              </tr>
             {% endfor %}
            </tbody>
          </table>
        </div>
    </div>
</center>
</div>



{% endblock %}